.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-container .swiper-wrapper {
    align-items: inherit;
}

.swiper-shape {

}

.slide-title {

}

.slide-subtitle {

}

.slide-body {

}

.slide-pagination {

}
