<footer class="footer">
    <div class="footer-item">
    <div class="footer-title active">Юрист-на-Дону</div>
    <div class="footer-subtitle">Всегда на страже ваших интересов</div>
    <div class="social-title">Мы в соц.сетях</div>
    <div class="social-icons">
        <a href="https://vk.com/" class="social-item">
        <img src="../images/vk.svg" class="social-img" alt="VK" title="VK">
        </a>
        <a href="https://twitter.com/" class="social-item">
        <img src="../images/twitter.svg" class="social-img" alt="TW" title="TW">
        </a>
        <a href="https://instagram.com/" class="social-img">
        <img src="../images/instagram.svg" class="social-img" alt="Ig" title="Ig">
        </a>
        <a href="https://ru.linkedin.com/" class="social-img">
        <img src="../images/linkedin.svg" class="social-img" alt="IN" title="IN">
        </a>
    </div>
    </div>
    <div class="footer-item">
    <div class="footer-title">Услуги</div>
    <ul class="service-list">
        <li class="service-item">
        <a href="#free" class="service-link">Устная консультация для граждан</a>
        <div class="service-underline"></div>
        </li>
        <li class="service-item">
        <a href="#study" class="service-link">Устная консультация для граждан с изучением документов</a>
        <div class="service-underline"></div>
        </li>
        <li class="service-item">
        <a href="#write" class="service-link">Письменная консультация для граждан с изучением документов</a>
        <div class="service-underline"></div>
        </li>
        <li class="service-item">
        <a href="#claim" class="service-link">Составление претензии</a>
        <div class="service-underline"></div>
        </li>
        <li class="service-item">
        <a href="#contract" class="service-link">Составление гражданско-правовых, трудовых договоров</a>
        <div class="service-underline"></div>
        </li>
        <li class="service-item">
        <a href="#difficult" class="service-link">Составление сложных (смешанные формы), нестандартных договоров</a>
        <div class="service-underline"></div>
        </li>
        <li class="service-item">
        <a href="#expertise" class="service-link">Правовая экспертиза договоров, иных документов</a>
        <div class="service-underline"></div>
        </li>
        <li class="service-item">
        <a href="#process" class="service-link">Составление процессуальных документов (иск, отзыв на иск и т.п.)</a>
        <div class="service-underline"></div>
        </li>
    </ul>
    </div>
    <div class="footer-item">
    <div class="footer-title">Бесплатная консультация</div>
    <div class="button-group">
        <div class="button">
        <div class="button-container">
            <div class="button-overlay"></div>
            <img class="button-image" src="../images/phone-ring.svg" alt="phone-ring">
        </div>
        <div class="button-content">+7 (951) 839-59-39</div>
        </div>
        <button class="submit">Отправить</button>
    </div>
    </div>
</footer>