<div class="swiper-container">
  <div class="swiper-wrapper">
    {{#each pages}}
      <div class="swiper-slide">
        <div class="slide-info">
          <h3 class="slide-title">
          {{name}}
          </h3>
          <div class="slide-subtitle">
            {{email}}
          </div>
          <div class="slide-body">
            {{body}}
          </div>
          <div class="slide-btn-group">
            <button class="slide-btn">Начать!</button>
            <a href="#more" class="slide-link-btn">Узнать больше</a>
           </div>
        </div>
        <img src="../images/RnD.svg" class="slide-img">
      </div>
    {{/each}}
  </div>
  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>