<div class="swiper-container">
  <div class="swiper-wrapper">
    {{#each pages}}
      <div class="swiper-slide swiper-first">
        Slide
        {{id}}
        <h3 class="slide-title">
          {{name}}
        </h3>
        <div class="slide-subtitle">
          {{email}}
        </div>
        <div class="slide-body">
          {{body}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="swiper-pagination"></div>
</div>