<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/dist/swiper-bundle.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper/swiper.css">
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/dist/swiper-bundle.min.js"></script>
  <script src="/script/swiper.js"></script>
</html>
