<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheets" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/menu/menu.css">
    <link rel="stylesheet" href="/dist/swiper-bundle.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper/swiper.css">
    <link rel="stylesheet" href="../stylesheets/services/services.css">
    <link rel="stylesheet" href="/stylesheets/footer/footer.css">
  </head>
  <body>
    {{> header }}
    {{{body}}}
    {{> footer }}
  </body>
  <script src="/dist/swiper-bundle.min.js"></script>
  <script src="/scripts/swiper/swiper.js"></script>
</html>
