<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/menu/menu.css">
    <link rel="stylesheet" href="/dist/swiper-bundle.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper/swiper.css">
  </head>
  <body>
    <header class="header">
      <nav class="menu">
        <a href="#" class="menu-item">Юрист-на-Дону</a>
        <a href="#home" class="menu-item">Главная</a>
        <a href="#about" class="menu-item">О проекте</a>
        <a href="#contacts" class="menu-item">Контакты</a>
        <a href="#phone" class="menu-item">+7 (951) 839-59-39</a>
      </nav>
      <!-- <ul class="menu-burger">&#9776;
        <li class="burger-item">
          <a href="#home" class="item-link">Главная</a>
        </li>
        <li class="burger-item">
          <a href="#about" class="item-link">О проекте</a>
        </li>
        <li class="burger-item">
          <a href="#contacts" class="item-link">Контакты</a>
        </li>
        <li class="burger-item">
          <a href="#" class="item-link">+ 7 (951) 839-59-39</a>
        </li>
      </ul> -->
    </header>
   
    {{{body}}}
    <footer class="footer">
      <div class="footer-item">
        <div class="text-shape"></div>
        <div class="shape-content">
          <div class="text-title">Юрист-на-Дону</div>
          <div class="text-subtitle">Всегда на страже ваших интересов</div>
        </div>
      </div>
      <div class="footer-item">
        <div class="footer-title">Услуги</div>
        <ul class="list-services">
          <li class="list-item">Самая популярная услуга 1</li>
          <li class="list-item">Самая популярная услуга 2</li>
          <li class="list-item">Самая популярная услуга 3</li>
        </ul>
      </div>
      <div class="footer-item">
        <div class="footer-title">Бесплатная консультация</div>
        <div class="call-button">
          <span class="phone-icon"></span>
          <span class="phone-number">+7 (951) 839-59-39</span>
        </div>
      </div>
    </footer>
  </body>
  <script src="/dist/swiper-bundle.min.js"></script>
  <script src="/scripts/swiper/swiper.js"></script>
</html>
