<div class="layout">
  <h3 class="layout-title">Наши направления</h3>
  <div class="layout-container">
    {{#each services}}
      <div class="layout-item">
        <div class="layout-card">
          <div class="card-title">{{title}}</div>
          <div class="card-subtitle">{{body}}</div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
