* {
  margin: 0;
  padding: 0;
}

html {
  color: #000;
  background: #fff;
}
body {
  line-height: 1;
    color: #000;
    background: #fff;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}