.layout-container {
    display: flex;
    max-width: 1016px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.layout-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 20px * 4) /4);
    height: 159px;
    margin-right: 20px;
    outline: 1px solid red; 
}

.layout-item:nth-child(4n) {
    margin-right: 0;
}