.menu {

}

.menu-item {

}

.menu-link {

}

.menu-icon {
    display: none;
}

@media all and (max-width: 700px) {
    .menu-item {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}